{% extends "network/layout.html" %}

{% block body %}
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>{{ post.content }} - <a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a> posted at: {{post.created_at}} likes: {{post.likes}}
                    <form method="post" action="{% url 'like' post.id %}">
                        {% csrf_token %}
                        <button type="submit">Like</button>
                    </form>
                    <form method="post" action="{% url 'dislike' post.id %}">
                        {% csrf_token %}
                        <button type="submit">Dislike</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        {% if posts.has_previous or posts.has_next %}
            <div class="pagination">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current-page">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}

    {% else %}
        <p>No posts found.</p>
    {% endif %}
{% endblock %}