{% extends "network/layout.html" %}

{% block body %}
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>{{ post.content }} - <a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a> posted at: {{post.created_at}} 
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'like' post.id %}">
                            {% csrf_token %}
                            <button type="submit" data-post-id="{{ post.id }}">Like</button>
                            <span class="like-count">Likes: {{ post.likes }}</span>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if posts.has_previous or posts.has_next %}
            <div class="pagination">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current-page">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}

    {% else %}
        <p>No posts found.</p>
    {% endif %}

    <script>
        // Get all like buttons
        var likeButtons = document.querySelectorAll('button[type="submit"]');

        // Attach click event listener to each like button
        likeButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var postId = button.getAttribute('data-post-id');

                // Send a POST request to the server to increment the like count
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/like/' + postId + '/');
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('[name=csrfmiddlewaretoken]').value);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            // Update the like count on the page
                            var likeCountSpan = button.parentNode.querySelector('.like-count');
                            likeCountSpan.textContent = 'Likes: ' + response.likes;
                        } 
                        else {
                            console.log('Error: ' + response.message);
                        }
                    } 
                    else {
                        console.log('Error: ' + xhr.status);
                    }
                };
                xhr.send();
            });
        });
    </script>

{% endblock %}

