{% extends "network/layout.html" %}


{% block body %}
    <h1>User: {{username}}</h1>
    {% if username in following %}
    <p>You are already following {{ username }}!</p>
    <form method="post" action="{% url 'follow' author_id %}">
        {% csrf_token %}
        <button type="submit">Unfollow</button>
    </form>                            
    {% elif username != user.username %}
    <form method="post" action="{% url 'follow' author_id %}">
        {% csrf_token %}
        <button type="submit">Follow</button>
    </form>
{% endif %}
    <p>followers: {{followers_count}}</p>
    <p>following: {{following_count}}</p>
    {% if posts %}
    <ul>
        {% for post in posts %}
            <li>{{ post.content }} - {{ post.author.username }} posted at: {{post.created_at}} likes: {{post.likes}}
                
                <form method="post" action="{% url 'editPost' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>    
                
                <form method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="{{post.id}}">
                    <button type="submit">Delete</button>
                </form>

            </li>

        {% endfor %}
    </ul>
    {% else %}
    <p>No posts found.</p>
    {% endif %}
{% endblock %}